{% extends  'base.html' %}

{% block content %}
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
<body>
    <!-- <section class="block container">
        <header class="block__header">
            <h2 class="block__heading">Heading</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, tempore!
            </p>
        </header>
    </section> -->
    <section class="block block--dark block--skewed-right">
        <div class="container grid grid--1x2">
            <header class="block__header hero__content">
                <h2> AXCESS IRELAND </h2>
            <h1 data-aos="zoom-out" data-aos-duration="3000" class="block__heading">Axcess Ireland</h1>
            <p class="hero__tagline">
                The Gateway to Working and Living in Ireland</p>
            <a href="" class="btn btn--accent btn--stretched">Subscriptions</a>
            </header>
            <img class="hero__image"src="{{url_for('static', filename='govid.png')}}" alt="infogov">  
        </div>   
    </section> 
   
    <div class="card mygov" >
        <div class="grid grid--1x2">
            <div>
                <img class="mygov__image" src="{{url_for('static', filename='mygovimg.png')}}" alt="mygovid">
            </div>
            <div>
                <blockquote class="quote">
                    <p class="quote__text">
                     MyGovid- All you need to know about applying for an Irish registration number- known as a PPS number. This will giv you the axcess to government supports for working and residing in Ireland.
                     Axcess Ireland supports you with this application by Subscribing.
                     <a href="#" class="btn btn-outline">Subscribe Now </a>
                    </p>
                    
                  </blockquote>
            </div>
        </div>
    </div>
    <br>
    <div class="card mygov" style="padding:3rem">
        <div class="grid grid--1x2">
            <div>
                <blockquote class="quote">
                    <p class="quote__text">
                     MyGovid- All you need to know about applying for an Irish registration number- known as a PPS number. This will giv you the axcess to government supports for working and residing in Ireland.
                     Axcess Ireland supports you with this application by Subscribing.
                     <a href="#" class="btn btn-outline">Subscribe Now </a>
                    </p>
                </blockquote>
            </div>
            <div>
                <img class="mygov__image" src="{{url_for('static', filename='mygovimg.png')}}" alt="mygovid">
            </div>
        </div>
    </div>
    
</body>
       
{% endblock %}
