{% extends 'base.html' %}

    {% block content %}
        <body >
            <div class="card" style="width: 18rem;">
                <div class="plan plan--popular">
                    <header class="card__header">
                        <h3 class="plan__name">Entry level</h3>
                        <span class="plan__price">FREE</span><br>
                        <span class="plan__description">FREE entry level</span>
                    </header>
                    <div class="card__body">
                    <h5 class="card-title">FREE LEVEL</h5>
                    <ul>
                        <li class="list__item">AL information</li>
                        <li class="list__item">AL Support Services</li>
                        <li class="list__item">AL Goverment Lists</li>
                    </ul>
                    <a href="#" class="btn btn-outline">Subscribe Now </a>
                    </div>
                </div>
            </div>
            <!-- <div style="width:30%; padding: 3rem">
                <div class="card card--primary">
                    <header class="card__header">card title </header>
                    <div class="card__body">
                        Welcome totherhkajbhsckjgbfkg
                    </div>
                </div>
            </div> -->
        </body>
    {% endblock %}