{% extends 'base.html' %}

    {% block content %}
        <body >
            <section class="block container block-plans">
                <div class="grid grid--1x3">
                    <div class="plan">
                        <div class="card" >
                            <header class="card__header">
                                <h3 class="plan__name">Senior Level</h3>
                                <span class="plan__price">€25</span><br>
                                <span class="plan__description">SENIOR LEVEL</span>
                            </header>
                            <div class="card__body">
                                <h5 class="card-title">SENIOR LEVEL</h5>
                                <ul>
                                    <li class="list__item">AL Help Desk Advice </li>
                                    <li class="list__item">AL Support Services</li>
                                    <li class="list__item">AL Government Links</li>
                                </ul>
                                <form action="/pay" method="POST">
                                    <script
                                      src="https://checkout.stripe.com/checkout.js"
                                      class="stripe-button"
                                      data-key="pk_test_51M2jAhEA7jhQIwhZZhgz7mIL4T03uZGJIHKvRmQV8aJWaRT1r30sgCwDLnEXTe3QFJ7o1zzgjaJmGncEmzpeHmFJ005VcTux22"
                                      data-name="Axcess Ireland"
                                      data-description="Senior Level payment checkout"  
                                      data-amount="Subscribe Now"      
                                      data-currency="eur">
                                    </script>
                                </form>
                            </div>
                        </div> 
                    </div> 
                    <div class="card card--secondary">
                        <div class="plan plan--popular">
                            <header class="card__header">
                                <h3 class="plan__name">Entry level</h3>
                                <span class="plan__price">FREE</span><br>
                                <span class="plan__description">FREE entry level</span>
                            </header>
                            <div class="card__body">
                            <h5 class="card-title">FREE LEVEL</h5>
                            <ul>
                                <li class="list__item">AL information</li>
                                <li class="list__item">AL Support Services</li>
                                <li class="list__item">AL Goverment Lists</li>
                            </ul>
                            <form action="/pay" method="POST">
                                <script
                                  src="https://checkout.stripe.com/checkout.js"
                                  class="stripe-button"
                                  data-key="pk_test_51M2jAhEA7jhQIwhZZhgz7mIL4T03uZGJIHKvRmQV8aJWaRT1r30sgCwDLnEXTe3QFJ7o1zzgjaJmGncEmzpeHmFJ005VcTux22"
                                  data-name="Axcess Ireland"
                                  data-description="Entry Level payment checkout"  
                                  data-amount="Subscribe Now"      
                                  data-currency="eur">
                                </script>
                            </form>
                            </div>
                        </div> 
                       
                    </div>
                    <div class="plan">
                        <div class="card" >
                            <header class="card__header">
                                <h3 class="plan__name">Executive Level</h3>
                                <span class="plan__price">€50</span><br>
                                <span class="plan__description">AXCESS ALL</span>
                            </header>
                            <div class="card__body">
                                <h5 class="card-title">AXCESS AL</h5>
                                <ul>
                                    <li class="list__item">AL All levels</li>
                                    <li class="list__item">AL Application levev</li>
                                    <li class="list__item">AL All Links </li>
                                </ul>
                                
                                <form action="/pay" method="POST">
                                    <script
                                      src="https://checkout.stripe.com/checkout.js"
                                      class="stripe-button"
                                      data-key="pk_test_51M2jAhEA7jhQIwhZZhgz7mIL4T03uZGJIHKvRmQV8aJWaRT1r30sgCwDLnEXTe3QFJ7o1zzgjaJmGncEmzpeHmFJ005VcTux22"
                                      data-name="Axcess Ireland"
                                      data-description="Executive payment checkout"  
                                      data-amount="Subscribe Now"      
                                      data-currency="eur">
                                    </script>
                                </form>


                            </div>
                        </div>
                </div>
            </section>
         
           
           
    {% endblock %}